<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- 在此处添加应用级配置 -->
	<appSettings>
		<!-- 用你自己的 Key 替换占位符 -->
		<add key="ApiKey"    value="AczsKUZ3pa4P16gV8Dn8A2ny" />
		<add key="SecretKey" value="2QQe4ZAUdGGeoB78onqw5EN0qaT3xvNY" />
	</appSettings>

	<!-- VS 自动生成的启动节保持不动 -->
	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>
